aiohttp #to access data on the cloud
dask
fiona
gdal
geopandas>=0.10.0
geopandas >=0.10.0
h5netcdf
h5py >= 3.11
jdcal
matplotlib==3.*
netcdf4
numba>=0.6
numpy==1.*
pandas
pip
pyproj>=3.4,<4
rasterio>=1.3,<2
requests #to access data on the cloud
rioxarray
rioxarray
scikit-learn
scipy==1.*
seaborn
shapely
statsmodels
tqdm
xarray
zarr
