geopandas>=0.10.0
numba==0.*
numpy==1.*
matplotlib==3.*
pyproj>=3.4,<4
rasterio>=1.3,<2
scipy==1.*
scikit-learn
pip
pandas
xarray
dask
jdcal
netcdf4
rioxarray
tqdm
zarr
requests #to access data on the cloud
aiohttp #to access data on the cloud
shapely
seaborn
osgeo
