aiohttp #to access data on the cloud
dask
geopandas>=0.10.0
jdcal
matplotlib==3.*
netcdf4
numba==0.*
numpy==1.*
pandas
pip
pyproj>=3.4,<4
rasterio>=1.3,<2
requests #to access data on the cloud
rioxarray
scikit-learn
scipy==1.*
seaborn
shapely
tqdm
xarray
zarr
